<template>
  <div>
    <div id="game-container" v-if="downloaded" />
    <div class="placeholder" v-else>Loading Bouya Game....</div>
    <span  v-if="downloaded" >Bouya game1 26.10.2019</span>
  </div>
</template>


<script>
export default {
  name: "Game",
  data() {
    return {
      downloaded: false
    };
  },
  async mounted() {
    const game = await import(/* webpackChunkName: "game" */ "@/game/game");
    this.downloaded = true;
    this.$nextTick(() => game.launch());
  }
};
</script>


<style lang="scss" scoped>
</style>
